.ios,
.md {
    page-home {
        .disclaimer { 
            margin-top: 15px;
            padding: 0 20px;
        }

        button { 
            box-shadow: none;
            &.btn__emergency { 
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 8rem;
                background: transparent;
                img { 
                    width: 90%;
                    margin: 0 auto;
                    display: block;
                }
            }
            &.btn__more { 
                margin: 0 auto;
                background: #fbc02d;
                border-radius: 50px;
            }
        }
    }
}