// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.ios,
.md {

    // Custom loading
    ion-loading {
        .loading-wrapper {
            background: transparent;
            box-shadow: none;
            margin: 0 auto;
            display: block;
            padding: 0;
        }

        .spinner-crescent { 
            circle {
                stroke: #ffc108;
            }
        }
    } 
    
    // Custom gradient menu header
    ion-header {
        -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.3);
        .toolbar-background {
            background: #ffc108;
            background: -moz-linear-gradient(left, #ffc108 0%, #ffe939 100%);
            background: -webkit-linear-gradient(left, #ffc108 0%, #ffe939 100%);
            background: linear-gradient(to right, #ffc108 0%, #ffe939 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc108', endColorstr='#ffe939', GradientType=1);
            border-color: rgba(0, 0, 0, 0);
        }
        ion-title {
            .toolbar-title {
                color: #ffffff;
            }
        }
    } 
    
    // Custom header bar button { 
    .bar-button-menutoggle {
        color: #ffffff;
    }
}